@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

#left {
    display: flex;
    background-image: url("img/splash-image.jpg");
    width: 70%;
    background-size: cover; /* Ensures the image always covers the area */
    background-position: center; /* Centers the focus point */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#logo {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}


#logo img {
    height: 160px;
}

#logo h1 {
    font-size: 130px;
    color: white;
    margin: 0px;
}

h1 {
    font-family: "Norse-Bold";
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #f9fafb;
}

#right {
    font-family: sans-serif;

    margin-top:100px;
    --margin-from-image: 30px;

}


#top-text {
    margin-left: var(--margin-from-image); /*Why isn't this working? */    
}

#login-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding-bottom: 20px;
}

#signupForm {
    margin-left: var(--margin-from-image);
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-right: 50px;
}

#signupForm label {
    display: block;
    margin-bottom: 10px;

}

#signupForm p {
    margin: 0px;
    margin-bottom: 10px;

}

#login-title {
    margin-left: var(--margin-from-image);
    font-size: 30px;
    margin-top: 5px;
    font-weight: 540;
}


#signupForm input {
    border: none;
    border-bottom: 1px solid #cccccc;
}


#signupForm input:valid{
    color: green;

}

#signupForm input:invalid{
    color: red;

}

#signupForm input:placeholder-shown {
    color: purple;
}

#bottom-text {
    margin-top: 20px;
    margin-left: var(--margin-from-image);
}

#bottom-text button {
    background-color: #596D48;
    border-radius: 10px;
    width: 212px;
    height: 40px;
    color: white;
    font-weight: 1000px;
    font-size: 20px;
}
